.share-icon.fixed {
  position: fixed;
  right: 34px;
  bottom: 34px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  z-index: 1000;
}
.share-icon {
  color: #fff;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #3f51b5;
}

.share-icon:hover > .share-inner {
  opacity: 1;
  transition: transform 0.45s cubic-bezier(0.15, 0.2, 0.1, 1),
    opacity 0.45s cubic-bezier(0.15, 0.2, 0.1, 1);
  // border: 1px solid transparent;
  mat-icon {
    opacity: 1;
    // border: 5px solid transparent;
    box-shadow:0 7px 15px rgba(0,0,0,0.2);
    // border: 1px solid Red;
    transition: transform 0.45s cubic-bezier(0.15, 0.2, 0.1, 1),
      opacity 0.45s cubic-bezier(0.15, 0.2, 0.1, 1);
  }

  .facebook {
    transform: translateY(-35px) scale(1.5);
  }

  .duo {
    transform: translateY(-75px) scale(1.5);
  }

  .soccer {
    transform: translateY(-115px) scale(1.5);
  }

  .tennis {
    transform: translateY(-155px) scale(1.5);
  }
}

.share-inner {
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  transition: transform 0.45s cubic-bezier(0.15, 0.2, 0.1, 1),
    opacity 0.45s cubic-bezier(0.15, 0.2, 0.1, 1);

  mat-icon {
    display: block;
    width: 36px;
    left: 2px;
    position: absolute;
    opacity: 0;
    transition: transform 0.45s cubic-bezier(0.15, 0.2, 0.1, 1),
      opacity 0.45s cubic-bezier(0.15, 0.2, 0.1, 1);
  }
}
