.typewriter-text1 {
  // animation-name: typewriter;
  animation: typewriter 10s steps(25, end) 0s infinite;
}

.typewriter-text2 {
  // animation: typewriter;
  animation: typewriter 10s steps(25, start) 10s infinite;
}

.typewriter-text1,
.typewriter-text2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  // animation-duration: 10s;
  // animation-timing-function: steps(25, end);
  // animation-iteration-count: infinite;
}

.typewriter-text1::after,
.typewriter-text2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite 1s steps(1, end);
}

@keyframes typewriter {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 17.7em;
  }
}

// @keyframes typewriter2 {
//   0%,
//   50%,
//   100% {
//     width: 0;
//   }

//   60%,
//   90% {
//     width: 17.7em;
//   }
// }

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
