<!-- <div class="square one-sixteenth">
  <div class="square one-eighth">
    <div class="square three-sixteenth">
      <div class="square three-eighth"></div>
    </div>
  </div>
</div> -->

<!-- <div class="square scale">
</div> -->

<!-- <div class="square scale-shrink"></div> -->

<div class="square" style="transform: skew(42deg, -42deg);" ></div>

<!-- <div class="square" style="transform: translateZ(50px)">
    <div
    class="square"
    style="background: Blue;transform: rotateY(-270deg) translateZ(50px);"
  ></div>
</div> -->


<!-- <div class="square" style="background: Green;"></div>
<div class="square" style="background: Purple;"></div> -->
