<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>

    <span fxHide.gt-sm>LOGO</span>

    <div fxLayoutAlign="start baseline" fxShow="true" fxHide.lt-md>
      <a mat-button (click)="onListProduct()">
        LOGO
      </a>

      <a mat-button (click)="onListProduct()">
        {{ "PRODUCT.TITLE" | translate }}
      </a>

      <a mat-button (click)="onListPerson()">
        {{ "PERSON.TITLE" | translate }}
      </a>

      <mat-form-field class="lang-select">
        <mat-select
          [(ngModel)]="language"
          (selectionChange)="onLanguageChange()"
        >
          <mat-option
            *ngFor="let language of languages"
            [value]="language.code"
          >
            {{ "SHARED." + language.name | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="loading$ | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" mat-list-item>Close</a>
      <a mat-list-item (click)="onListProduct()">
        {{ "PRODUCT.LIST" | translate }}
      </a>
      <a mat-list-item (click)="onAddProduct()">
        {{ "PRODUCT.ADD" | translate }}
      </a>

      <mat-form-field mat-list-item>
        <mat-select
          [(ngModel)]="language"
          (selectionChange)="onLanguageChange()"
        >
          <mat-option
            *ngFor="let language of languages"
            [value]="language.code"
          >
            {{ "SHARED." + language.name | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
