a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.mat-menu-item {
  font-family: 13px;
}

.lang-select {
  font-size: 14px;
  font-weight: lighter;
}

.menu-spacer {
  flex: 1 1 auto;
}
