<div class="face">
  <div class="eyes">
    <div class="eye-brow">
      <div class="eye"></div>
    </div>

    <div class="eye-brow">
      <div class="eye"></div>
    </div>
  </div>

  <div class="mouth"></div>
</div>

<input
  type="email"
  matInput
  id="emailTest"
  placeholder="Email"
  maxlength="60"
/>
<br /><br />
<input
  [attr.type]="passwordType"
  matInput
  id="password"
  placeholder="Password"
  maxlength="60"
/>

<input
  type="checkbox"
  matChekbox
  id="showPassword"
  placeholder="showPassword"
  value="Show Password"
/><label> Show Password </label>
